  <section class="header">
    <div class="container-nav" data-controller="navbar">
      <nav class="navbar">
        <%= link_to 'CATCHPARK', root_path, class: 'brand' %>
        <ul class="menu" data-navbar-target="menu">
          <li class="btn-list-item">
            <i class="fas fa-user-circle"></i>
          </li>
          <li>
           <%= link_to 'Accueil', root_path, class: "link-nav" %>
          </li>
          <li> <%= link_to 'Carte', parkings_path, class: "link-nav" %></li>
           <li><a href="#">Contact</a></li>
        </ul>
        <div class="buttons">
          <li class="nav-item"><i class="fas fa-user-circle"></i></li>
        </div>
        <button class="menu-btn" data-action="click->navbar#toggle">
          <i class="fas fa-bars"></i>
        </button>
      </nav>
    </div>
  </section>









 <!--séparation
    <%= link_to 'CATCHPARK', root_path, class: 'custom-logo-link' %>
        <ul class="menu">
          <li>
          <%= link_to 'Accueil', root_path, class: "custom-nav-item" %>
          </li>
          <li>
            <%= link_to 'Carte', parkings_path, class: "custom-nav-item" %>
          </li>
           <li>
          <%= link_to 'Profil', user_profile_path, class: "custom-nav-item" %>
           </li>

          <li class="btn-list-item">
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-secondary" %>
          </li>
          <li class="btn-list-item">
        <%= link_to 'Sign In', new_user_session_path, class: "btn btn-primary" %>
          </li>
        </ul>
        <div class="buttons">
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-secondary" %>
        <%= link_to 'Sign In', new_user_session_path, class: "btn btn-primary" %>

          <%# <a href="#" class="btn btn-secondary">Sign Up</a>
          <a href="#" class="btn btn-primary">Sign In</a> %>
        </div>

        <button class="menu-btn">
          <i class="fas fa-bars"></i>
        </button>
      </nav>
-->
