<!-- app/views/devise/sessions/new.html.erb -->
<div class="login-container">
  <h2>Login</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" }) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login-input" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: "login-input" %>
    </div>

    <div class="actions">
      <%= f.submit "Login", class: "login-button" %>
    </div>
  <% end %>

  <div class="alternative-login">
    <%= link_to "Already have an account? Log in", new_user_session_path %>
    
    <div class="social-buttons">
      <%= link_to "#", class: "social-button google" do %>
        <i class="fab fa-google"></i>
      <% end %>
      <%= link_to "#", class: "social-button facebook" do %>
        <i class="fab fa-facebook-f"></i>
      <% end %>
      <%= link_to "#", class: "social-button linkedin" do %>
        <i class="fab fa-linkedin-in"></i>
      <% end %>
    </div>
  </div>
</div>
