<h1>Modifier Parking</h1>

<%= form_with model: @parking, local: true do |form| %>
  <%= form.label :durée %>
  <%= form.text_field :durée %>

  <%= form.label :adresse %>
  <%= form.text_field :adresse %>

  <%
=begin%>
 <%= form.label :libérer_la_place %>
  <%= form.check_box :libérer_la_place %>
<%
=end%>

  <%= form.submit 'Mettre à jour' %>
<% end %>

<%= link_to 'Retour', parking_path(@parking) %>
