<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="styleguide.css" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="mon_stationnement.css" />
</head>

<body>
  <h1><br><br><br>Modifier Parking</h1>

  <%= form_with model: @parking, local: true do |form| %>
    <%= form.label :durée %>
    <%= form.text_field :durée %>

    <%= form.label :adresse %>
    <%= form.text_field :adresse %>

    <%= form.label :status %>
    <%= form.check_box :status %>

    <%= form.submit 'Mettre à jour' %>

    <%= link_to 'Retour', parking_path(@parking) %>
  <% end %>

</html>
