<!-- app/views/parkings/new.html.erb -->

<div data-controller="geolocation" data-geolocation-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div class="new-parking">
    <div class="new-parking-container">
      <h1 class="new-parking-title">Enregistrer mon<br><span class="emplacement">Emplacement</span></h1>

      <%= form_with model: @parking, local: true do |form| %>
        <div class="form-group">
          <%= form.label :address, 'Address', class: 'form-label' %>
          <%= form.text_field :address, class: 'form-input', data: { geolocation_target: "address" } %>
          <button type="button" data-action="click->geolocation#fillAddress" class="fill-address-button">
            Utiliser ma position
          </button>
        </div>

          <div class="form-group">
            <br><%= form.label :duration, 'Durée de Stationnement (en heures)', class: 'form-label' %>
            <%= form.number_field :duration, in: 1..24, step: 1, class: 'form-input' %>
          </div>

        <div class="form-actions">
          <%= form.submit 'Créer', class: 'submit-button' %>
          <%= link_to 'Retour', parkings_path, class: 'back-link' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
