<!-- show.html.erb pour le contrôleur Parkings -->
<div class="parking-details">
  <div class="parking-details-container">
   <h1 class="parking-details-title">Mon Stationnement<br><span class="en-cours">En cours</span></h1>
    <form action="<%= parking_path(@parking) %>" method="post">
      <label for="address"><br></label>
      <p id="address"><%= @parking.address %></p><br>
      <fieldset>
      <label for="duration"></label>
      <p id="duration"><%= @parking.duration %> minutes</p>
      </fieldset>

      <fieldset>
      <label for="status"></label>
      <p id="status"><%= @parking.status ? 'Libre' : 'Occupé' %></p>
      </fieldset>

      <div class="form-actions">
      <%= link_to 'Modifier', edit_parking_path(@parking), class: 'edit-button' %>
      <%= link_to 'Retour', parkings_path, class: 'back-link' %>
      </div>

      </form>
  </div>
</div>
