<h1>Place de parking</h1>

<p>Adresse: <%= @parking.address %></p>
<p>Status: <%= @parking.status ? 'Disponible' : 'Non disponible' %></p>
<p>Durée : <%= (@parking.duration / 60000).to_i %> minutes</p>
<p>Utilisateur : <%= @parking.user.username %></p>

<%= link_to 'Se garer', edit_parking_path(@parking) %>
<%= link_to 'Map', parkings_path %>
